.landing {
    display: flex;
    flex-flow: column nowrap;
    // background-color: rgb(32,34,25);
    width: 100vw;
}

    .landing-hero-description {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-between;
        align-content: center;
        padding-right: 10vw;
    }

        .hero-half {
            width: 50vw;
            background-image: url('https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ef560e43d9edf981e37320ae5f0edd3d&auto=format&fit=crop&w=3300&q=80');
            background-size: cover;
            overflow: hidden;
        }

        .login-half {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 50vw;
            height: 100vh;
        }

