.button-affirmative-wide {
    height: 30px;
    background: #8DB69A;
    transition: 0.3s;
    border-radius: 15px;
    border-style: solid;
    border-top: 3px;
    border-right: 3px;
    border-color: black;
    font-family: 'Rammetto One', cursive;
}

.button-affirmative-wide:hover {
    background: #639B75;
}