.Login{
  height: 200px;
  width: 300px;
  background: #545350;
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  border-top: 3px;
  border-right: 3px;
  border-color: black;
  position: absolute;
  margin-top: 400px;

  .form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .label{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      font-family: 'Rammetto One', cursive;
      width: 100%;

      .input{
        border-radius: 15px;
      }
    }

    .button-green{
      height: 30px;
      background: #14CCB6;
      border-radius: 15px;
      border-style: solid;
      border-top: 3px;
      border-right: 3px;
      border-color: black;
      font-family: 'Rammetto One', cursive;
    }

    .button-blue{
      height: 30px;
      background: #89EDFF;
      border-radius: 15px;
      border-style: solid;
      border-top: 3px;
      border-right: 3px;
      border-color: black;
      font-family: 'Rammetto One', cursive;
    }
  }
}
