.response-emojis-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  height: 50vh;

  .score-response-emoji{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: auto;
    background: #545350;
    border-radius: 15px;
    padding: 10px;
    border-style: solid;
    border-top: 3px;
    border-right: 3px;
    border-color: black;
    margin: 5px;

    .score-emoji {
      text-align: center;
      font-size: 6rem;
      overflow: hidden;
      height: 13vh;
      width: 10vw;
    }

    .score-response{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .score-response-number{
        font-size: 1rem;
        font-family: 'Roboto Condensed', sans-serif;
      }

      .score-response-title{
        font-family: 'Rammetto One', cursive;
      }
    }
  }
}
